


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Hide ALL horizontal scrollbars */
::-webkit-scrollbar {
  height: 0 !important;
}
.slider-hide-scroll {
  scrollbar-width: none;
}
.slider-hide-scroll::-webkit-scrollbar {
  display: none !important;
}


/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}



/* .heading1 {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
} */



/* Hide horizontal scrollbar but keep scroll */
.hide-scrollbar {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
